@page
@model GameServer.Pages.WorldModel
@{
    ViewData["Title"] = "Game";
}

<div id="game-container" style="padding:5px;">
    <div id="game-screen">
        <script src="~/game/Model/Terrains/Colors.js"></script>
        <script src="~/game/Model/Terrains/Terrain.js"></script>
        <script src="~/game/Model/Tile.js"></script>
        <script src="~/game/main.js" type="text/javascript"></script>
    </div>
</div>
